@using ReportWebsite.Infrastructure;
@using ReportWebsite.Properties
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "عنوان ";
}


@section Broadcast{

    @Html.RenderBroadcast("ایجاد فرم جدید", new Tuple<string, string>("#", "فرم ها"))

}


<div class="content-body">
    <!-- Basic Elements start -->
    <section class="basic-elements">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">ایجاد فـــــرم جدید </h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <!--  <h4 class="form-section" style="color: #ad5a68c9;"><i class="ft-info"></i> اطلاعات وب سایت</h4><hr /> -->
                            <div class="row">

                                <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label for="basicInput"> سایت</label>
                                        <input type="text" class="form-control" id="basicInput">
                                    </fieldset>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label for="basicInput"> تاریخ</label>
                                        <input type="text" class="form-control" id="basicInput">
                                    </fieldset>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label for="basicInput"> مسئول</label>
                                        <input type="text" class="form-control" id="basicInput">
                                    </fieldset>
                                </div>

                            </div>

                            <!--     <h4 class="form-section" style="color: #ad5a68c9;"><i class="ft-info"></i> امکانات وب سایت</h4><hr />-->
                            <div class=" row">
                                <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
                                    <div class="card-body">
                                        <fieldset>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="customCheck" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">@Resource.String1</label>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="customCheck" id="customCheck2">
                                                <label class="custom-control-label" for="customCheck2">@Resource.String2</label>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="customCheck" id="customCheck3">
                                                <label class="custom-control-label" for="customCheck3">@Resource.String3</label>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="customCheck" id="customCheck4">
                                                <label class="custom-control-label" for="customCheck4">@Resource.String4</label>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="customCheck" id="customCheck5">
                                                <label class="custom-control-label" for="customCheck5">@Resource.String5</label>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="customCheck" id="customCheck6">
                                                <label class="custom-control-label" for="customCheck6">@Resource.String6</label>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="customCheck" id="customCheck7">
                                                <label class="custom-control-label" for="customCheck7">@Resource.String7</label>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="customCheck" id="customCheck8">
                                                <label class="custom-control-label" for="customCheck8">@Resource.String8</label>
                                            </div>
                                        </fieldset>

                                    </div>

                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
                                    <div class="card-body">
                                        <fieldset>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="customCheck" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">@Resource.String9</label>
                                            </div>
                                        </fieldset>

                                        <fieldset>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="customCheck" id="customCheck6">
                                                <label class="custom-control-label" for="customCheck6">@Resource.String10</label>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="customCheck" id="customCheck7">
                                                <label class="custom-control-label" for="customCheck7">@Resource.String11</label>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="customCheck" id="customCheck8">
                                                <label class="custom-control-label" for="customCheck8">@Resource.String12</label>
                                            </div>
                                        </fieldset>

                                        <fieldset>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="customCheck" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">@Resource.String13</label>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="customCheck" id="customCheck2">
                                                <label class="custom-control-label" for="customCheck2">@Resource.String14</label>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="customCheck" id="customCheck3">
                                                <label class="custom-control-label" for="customCheck3">Custom checkbox disabled</label>
                                            </div>
                                        </fieldset>
                                        <fieldset>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="customCheck" id="customCheck4">
                                                <label class="custom-control-label" for="customCheck4">Custom checkbox disabled</label>
                                            </div>
                                        </fieldset>

                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label for="basicInput"> @Resource.String16</label>
                                        <input type="text" class="form-control" id="basicInput">
                                    </fieldset>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label for="basicInput"> @Resource.String17</label>
                                        <input type="text" class="form-control" id="basicInput">
                                    </fieldset>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label for="basicInput"> @Resource.String18</label>
                                        <input type="text" class="form-control" id="basicInput">
                                    </fieldset>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label for="basicInput"> @Resource.String19</label>
                                        <input type="text" class="form-control" id="basicInput">
                                    </fieldset>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label for="basicInput"> @Resource.String20</label>
                                        <input type="text" class="form-control" id="basicInput">
                                    </fieldset>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label for="basicInput"> @Resource.String21</label>
                                        <input type="text" class="form-control" id="basicInput">
                                    </fieldset>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label for="basicInput"> @Resource.String22</label>
                                        <input type="text" class="form-control" id="basicInput">
                                    </fieldset>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label for="basicInput"> @Resource.String23</label>
                                        <input type="text" class="form-control" id="basicInput">
                                    </fieldset>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label for="basicInput"> @Resource.String24</label>
                                        <input type="text" class="form-control" id="basicInput">
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12">
                                    <fieldset class="form-group">
                                        <label for="placeTextarea">توضیحــــــــات</label>
                                        <textarea class="form-control" id="placeTextarea" rows="2" placeholder="توضیحات  "></textarea>
                                    </fieldset>
                                </div>
                            </div>

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </section>
    <!-- Basic Inputs end -->
</div>


