@using ReportWebsite.Infrastructure;
@using ReportWebsite.Properties
@using Dualp.Common.Types
@using ReportWebsite.UtilitySystem
@using ReportWebsite.Models
@using WebSiteType = ReportWebsite.Enums.ReportWebSiteType.WebSiteType

@model  List<ReportWebsite.Models.WebSite>
@{
    WebSiteType type = ViewBag.Type;
    var Title = ReportWebsite.Enums.ReportWebSiteType.ToDisplay(type);
    ViewBag.Title = Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebSite w;
}


@section Broadcast{

    @Html.RenderBroadcast("لیست فرم ها", new Tuple<string, string>("#", "فرم ها"))
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">لیست فرم    @Title ها</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        @*<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>*@
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <p></p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 8% ;">ردیف</th>
                                    <th style="width: 42% ;">سایت</th>
                                    <th style="width: 15% ;">تاریخ</th>
                                    <th style="width: 15% ;">توسط</th>
                                    <th style="width: 20% ;">ابزارک ها</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count() > 0)
                                {
                                    int row = 1;
                                    foreach (var m in Model)
                                    {
                                        <tr>
                                            <td scope="row">@(row++) </td>
                                            <td>@m.Name</td>
                                            <td>@m.CreateDate.UtcToLocalTimeZone(System.TimeZoneInfo.FindSystemTimeZoneById("Iran Standard Time")).LocalDatetime("fa").ToString()</td>
                                            <td>@m.Admin</td>
                                            <td>

                                                <a class="btn  btn-sm btn-icon  form-info" @*href="@{Html.RenderPartial("~/Views/Forms/FormInfo.cshtml",@m);}"*@ data-placement="bottom" data-toggle="tooltip" data-original-title=" جزئیات"><i class="ft-airplay"></i></a>

                                                @using (Html.BeginForm("DeleteForm", "Forms", new { siteId = m.SiteId, type = type }, FormMethod.Post))
                                                {
                                                    <a class="btn  btn-sm btn-icon  form-delete" data-title="@m.Name" data-toggle="tooltip" data-placement="bottom" data-original-title=" حذف"><i class="ft-trash-2"></i></a>
                                                }
                                                <a class="btn  btn-sm btn-icon  form-report" onclick="Alert()" data-placement="bottom" data-toggle="tooltip" data-original-title=" چاپ"><i class="ft-printer"></i></a>
                                                <a class="btn  btn-sm btn-icon  form-edit" href="@Links.Form(type,m.SiteId)" data-placement="bottom" data-toggle="tooltip" data-original-title="ویرایش "><i class="ft-edit-3"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>

        function Alert() {
            swal({ text: "این قسمت هنوز نوشته نشده ", timer: 2000, showConfirmButton: false, icon: "info" });

        }


        $(document).ready(function () {


            $('.form-info').on('click', function () {
                var el = document.createElement('span'),
                    t = document.createTextNode('What to do  What not to do ');
                el.style.cssText = 'color:#e001a4';
                el.appendChild(t);
                swal({

                    title: 'HTML Alert!',
                    content: {
                        element: el,
                    }
                });
            });






            $('.form-delete').on('click', function () {
                formdelete = $(this).parent();
                swal({
                    title: "حذف  ",
                    text: "آیا میخواهید فرم تحویل  " + $(this).data('title') + " را حذف کنید ؟",
                    icon: "warning",
                    buttons: {
                        cancel: {
                            text: "نه ، لغو حذف",
                            value: null,
                            visible: true,
                            className: "",
                            closeModal: false,
                        },
                        confirm: {
                            text: "بله ، حذف شود ",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: false
                        }
                    }
                })
                    .then((isConfirm) => {
                        if (isConfirm) {
                            formdelete.submit();
                            //swal("حذف!", "حذف با موفقیت انجام شد ", "success");
                            swal({ title: "حذف!", text: "حذف با موفقیت انجام شد", timer: 2000, showConfirmButton: false, icon: "success" });

                        } else {
                            //  swal("لغو", "عملیات حذف لغو شد", "error");
                            swal({ title: "لغو!", text: "عملیات حذف لغو شد", timer: 2000, showConfirmButton: false, icon: "error" });
                        }
                    });

            });
        });




    </script>
    <script src="~/Template/Contents/vendors/js/extensions/sweetalert.min.js"></script>
}