@using ReportWebsite.Infrastructure;
@using ReportWebsite.Properties

@model  List<ReportWebsite.Models.Item>
@{
    var title = ReportWebsite.Enums.ReportWebSiteType.ToDisplay(ViewBag.Type);
    ViewBag.Title = " آیتم های تحویل " + title;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Broadcast{

    @Html.RenderBroadcast("لیست آیتم ها", new Tuple<string, string>("#", "آیتم ها"))

}

@section Settings{
    <button class="btn btn-outline-primary pull-left" type="button" data-toggle="modal" data-target="#bootstrap">
        <i class="ft-plus"></i> ثبت آیتم جدید
    </button>
}



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">لیست آیتم های تحویل  @title</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        @*<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>*@
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <p></p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 10%">ردیف</th>
                                    <th style="width: 70%">عنوان</th>
                                    <th style="width: 20% ; text-align:center;">ابزارک ها</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    int row = 1;
                                    foreach (var m in Model)
                                    {
                                        <tr>
                                            <td scope="row">@(row++)</td>
                                            <td>@m.Text</td>
                                            <td style="text-align:center">

                                                @using (Html.BeginForm("DeleteItem", "Items", new { itemId = m.ItemId, type = ViewBag.Type }, FormMethod.Post))
                                                {
                                                    <a class="btn  btn-sm btn-icon form-delete" data-title="@m.Text" data-placement="bottom" data-toggle="tooltip" data-original-title=" حذف">
                                                        <i class="ft-trash-2"></i>
                                                    </a>
                                                }
                                                <a hidden class="btn  btn-sm btn-icon" data-placement="bottom" data-toggle="tooltip" data-original-title="ویرایش "><i class="ft-edit-3"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Modal -----begin-->
<div class="modal fade text-left" id="bootstrap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel35" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel35">آیتم @title</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Item", "Items"))
            {
                <div class="modal-body">
                    <input type="hidden" name="Type" value="@ViewBag.Type" />
                    <fieldset class="form-group floating-label-form-group">
                        <label for="title">عنوان آیتم</label>
                        <input type="text" class="form-control" name="Text" id="title" placeholder="عنوان آیتم جدید">
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-outline-primary " value="ثبت">
                    <input type="reset" class="btn btn-outline-secondary " data-dismiss="modal" value="بستن">
                </div>
            }
        </div>
    </div>
</div>
<!-- Modal ------end-->
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.form-delete').on('click', function () {
                formdelete = $(this).parent();
                swal({
                    title: "حذف  ",
                    text: "آیا میخواهید  آیتم \"   " + $(this).data('title') + "   \"  را حذف کنید ؟",
                    icon: "warning",
                    buttons: {
                        cancel: {
                            text: "نه ، لغو حذف",
                            value: null,
                            visible: true,
                            className: "",
                            closeModal: false,
                        },
                        confirm: {
                            text: "بله ، حذف شود ",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: false
                        }
                    }
                })
                    .then((isConfirm) => {
                        if (isConfirm) {
                            formdelete.submit();
                            swal("حذف!", "حذف با موفقیت انجام شد ", "success");
                        } else {
                            swal({ title: "لغو!", text: "عملیات حذف لغو شد", timer: 2000, showConfirmButton: false });
                        }
                    });

            });
        });
    </script>
    <script src="~/Template/Contents/vendors/js/extensions/sweetalert.min.js"></script>
}
<!--Modal-->