@using ReportWebsite.Infrastructure;
@using ReportWebsite.Properties
@using Dualp.Common.Types
@using ReportWebsite.UtilitySystem



@model  List<ReportWebsite.Entities.EN_User>
@{

    var Title = "کاربران";
    ViewBag.Title = Title;
    string me = ViewBag.Message;
    Layout = "~/Views/Shared/_Layout.cshtml";


}


@section Broadcast{

    @Html.RenderBroadcast("لیست کاربران", new Tuple<string, string>("#", "کاربران"))
}


@section Settings{
    <a href="@Links.User()">
        <button class="btn btn-outline-primary pull-left" type="button" data-toggle="modal" data-target="#bootstrap">
            <i class="ft-plus"></i> ثبت کاربر جدید
        </button>
    </a>

}



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">لیست @Title </h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        @*<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>*@
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <p class="success">
                        @Html.ValidationMessage("Success")
                        @(ViewBag.Message)
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 5% ;">ردیف</th>
                                    <th style="width: 20% ;">نام و نام خانوادگی</th>
                                    <th style="width: 15% ;">نام کاربری</th>
                                    <th style="width: 10% ;">تاریخ ایجاد</th>
                                    <th style="width: 5% ;">وضعیت</th>
                                    <th style="width: 30% ;">ابزارک ها</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    int row = 1;
                                    foreach (var m in Model)
                                    {
                                        <tr>
                                            <td scope="row">@(row++) </td>
                                            <td>@m.FirstName &nbsp; @m.LastName</td>
                                            <td>@m.UserName</td>
                                            <td>@m.CreateDate.UtcToLocalTimeZone(System.TimeZoneInfo.FindSystemTimeZoneById("Iran Standard Time")).LocalDatetime("fa").ToString()</td>
                                            <td>@(m.IsLock ? "غیرفعال" : "فعال")</td>
                                            <td>

                                                @if (m.UserName == "info@dualp.ir")
                                                {
                                                    if (m.IsLock)
                                                    {
                                                        using (Html.BeginForm("LockUser", "Users", new { userId = m.Id }, FormMethod.Post))
                                                        {
                                                            <a style="color:red" class="btn btn-sm btn-icon  form-lock" data-title="@m.FirstName @m.LastName" data-placement="bottom" data-toggle="tooltip" data-original-title=" فعال کردن"><i class="ft-unlock"></i></a>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        using (Html.BeginForm("LockUser", "Users", new { userId = m.Id }, FormMethod.Post))
                                                        {
                                                            <a class="btn  btn-sm btn-icon  form-lock" data-title="@m.FirstName @m.LastName" data-placement="bottom" data-toggle="tooltip" data-original-title=" غیرفعال کردن"><i class="ft-lock"></i></a>
                                                        }
                                                    }
                                                    using (Html.BeginForm("DeleteUser", "Users", new { userId = m.Id }, FormMethod.Post))
                                                    {
                                                        <a class="btn  btn-sm btn-icon  form-delete" data-title="@m.FirstName @m.LastName" data-toggle="tooltip" data-placement="bottom" data-original-title=" حذف"><i class="ft-trash-2"></i></a>
                                                    }
                                                }

                                                <a class="btn  btn-sm btn-icon  form-edit" href="@Links.User(m.Id)" data-placement="bottom" data-toggle="tooltip" data-original-title="ویرایش"><i class="ft-edit-3"></i></a>

                                                <a class="btn  btn-sm btn-icon" href="@Links.ChangePassword(m.Id)" data-placement="bottom" data-toggle="tooltip" data-original-title="تغییر رمزعبور"><i class="ft-refresh-cw"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="FormInfo" class="modal">
    <div class="modal-dialog">
        <div id="contentInfoForm">
        </div>
    </div>
</div>



@section Scripts{
    <script>

        function Alert() {
            swal({ text: "این قسمت هنوز نوشته نشده ", timer: 2000, showConfirmButton: false, icon: "info" });

        }


        $(document).ready(function () {

            $(".form-info").click(function() {

                var siteId = $(this).data("siteid");
                console.log(siteId);
                $.ajax({
                    type: "POST",
                    /**/
                    url: '@Url.Action("FormInfo", "Forms")',
                    /**/
                    data: JSON.stringify({'siteId': siteId  }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        if (response.Item1) {
                            $("#contentInfoForm").html(response.Item2);
                            $('#FormInfo').modal('show');
                        } else {
                            swal({
                                title: 'خطا در بارگذاری اطلاعات',
                                text: response.Item2,
                                confirmButtonText: 'تایید',
                                type: "error"
                            });
                        }
                    },
                    failure: function(response) {
                        swal({
                            title: 'خطا در بارگذاری اطلاعات',
                            text: response.responseText,
                            confirmButtonText: 'تایید',
                            //text: "You will not be able to recover this imaginary file!",
                            type: "error"
                        });

                    }
                });
            });



            //$('.form-info').on('click', function () {
            //    var el = document.createElement('span'),
            //        t = document.createTextNode('What to do  What not to do ');
            //    el.style.cssText = 'color:#e001a1';
            //    el.appendChild(t);
            //    swal({

            //        title: '!HTML Alert',
            //        content: {
            //            element: el,
            //        }
            //    });
            //});


            $('.form-delete').on('click', function () {
                formdelete = $(this).parent();
                swal({
                    title: "حذف  ",
                    text: "آیا میخواهید    " + $(this).data('title') + " را حذف کنید ؟",
                    icon: "warning",
                    buttons: {
                        cancel: {
                            text: "نه ، لغو حذف",
                            value: null,
                            visible: true,
                            className: "",
                            closeModal: false,
                            isConfirm: false,
                        },
                        confirm: {
                            text: "بله ، حذف شود ",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: false,
                            isConfirm: true,
                        }
                    }
                })
                    .then((isConfirm) => {
                        if (isConfirm) {
                            formdelete.submit();
                            //swal("حذف!", "حذف با موفقیت انجام شد ", "success");
                            swal({ title: "حذف!", text: "حذف با موفقیت انجام شد", timer: 2000, showConfirmButton: false, icon: "success" });

                        } else {
                            //  swal("لغو", "عملیات حذف لغو شد", "error");
                            swal({ title: "لغو!", text: "عملیات حذف لغو شد", timer: 2000, showConfirmButton: false, icon: "error" });
                        }
                    });

            });



            $('.form-lock').on('click', function () {
                formdelete = $(this).parent();
                swal({
                    title: "تغییر وضعیت  ",
                    text: "آیا میخواهید    " + $(this).data('title') + " را تغییر وضعیت دهید ؟",
                    icon: "warning",
                    buttons: {
                        cancel: {
                            text: "نه ، لغو ",
                            value: null,
                            visible: true,
                            className: "",
                            closeModal: false,
                            isConfirm: false,
                        },
                        confirm: {
                            text: "بله ، تغییر وضعیت شود ",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: false,
                            isConfirm: true,
                        }
                    }
                })
                    .then((isConfirm) => {
                        if (isConfirm) {
                            formdelete.submit();
                            //swal("حذف!", "حذف با موفقیت انجام شد ", "success");
                            swal({ title: "تغییر وضعیت!", text: "تغییر وضعیت با موفقیت انجام شد", timer: 2000, showConfirmButton: false, icon: "success" });

                        } else {
                            //  swal("لغو", "عملیات حذف لغو شد", "error");
                            swal({ title: "لغو!", text: "عملیات لغو شد", timer: 2000, showConfirmButton: false, icon: "error" });
                        }
                    });

            });


        });


    </script>
    <script src="~/Template/Contents/vendors/js/extensions/sweetalert.min.js"></script>
}
